@import url("https://fonts.googleapis.com/css?family=Sanchez");
@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister");

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sanchez", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.Header {
  display: flex;
  flex-direction: row;
}

.HeaderTxt {
  font-family: "Love Ya Like A Sister";
}

.HeaderImg {
  height: 2em;
  width: 2em;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.7rem 10rem;
  z-index: 1;
  width: 100%;
  background-color: #de782a;
}
