.Header {
  display: flex;
  flex-direction: row;
  color: #2a5ade;
}

.HeaderTxt {
  font-family: "Love Ya Like A Sister";
}

.HeaderImg {
  height: 2em;
  width: 2em;
}

/* Navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.7rem 10rem;
  z-index: 1;
  width: 100%;
  background-color: #de782a;
}
