.InputContainer {
  background-color: #de782a;
  margin: 0;
  width: 100%;
  padding: 1rem;
}

.TranslateForm {
  display: flex;
  justify-content: center;
}

.TranslateInput {
  width: 50%;
  font-size: 2rem;
  padding-left: 0.2rem;
  color: #888;
}

.TranslateButton {
  display: inline-block;
  color: #fff;
  background-color: #2a5ade;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  height: 41px;
  align-self: center;
}

.OutputContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.TranslationBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 15rem;
  min-width: 20rem;
  max-width: 70%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.TranslationHistoryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 15rem;
  min-width: 20rem;
  max-width: 70%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.OutputBox {
  width: 100%;
}

.TranslationList {
  padding: 1em;
}

.TranslationListItem {
  border: 1px solid grey;
  margin: 1em;
  background-color: rgba(46, 19, 216, 0.3);
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.8);
}

.TranslatedText {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 0;
  border-top: 1px solid grey;
  width: 100%;
}

.Translation {
  width: 100%;
}

.LogoutButton {
  display: inline-block;
  color: #fff;
  background-color: red;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  height: 41px;
  align-self: center;
}

.ClearButton {
  display: inline-block;
  color: #fff;
  background-color: #2a5ade;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  height: 41px;
  align-self: center;
}
